@mixin giant {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin pad {
  @media (max-width: 810px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 428px) {
    @content;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, arial;
}
body {
  padding-top: 77px;
  padding-left: 96px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: rgb(244, 244, 244);
  @include mobile {
    padding-left: 20px;
  }
  @include giant {
    padding-left: 250px;
  }
}
